body{
  margin: 0;
  padding: 0;
}

.profilePage{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding:10px 100px ;
  align-items: stretch;

}


.addProfile{
  display: flex;
  flex-direction: column;
  /* flex-grow: 2; */
  flex:4;
  
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 10px;
}

.addProfile h1, .profileList h1{
  align-self: center;
}

/* .submitBtn{
  align-self: flex-end;
} */

.profileList{
  display: flex;
  flex-direction: column;
  /* flex-grow: 5; */
  flex:7;

  background-color: aquamarine;
  padding: 5px;
  border-radius: 10px;
}

